<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1 class="header">Welcome to shaikzhafir's least effort blog</h1>
    <h1>List of blog posts:</h1>
    <ul>
    <% posts.forEach(post => { %>
    <li><a href='./articles/<%= post.id %>' ><%= post.title %></a></li>
    <% });  %>
    </ul>

    <h1>List of book reviews:</h1>
    <ul>
      <% reviews.forEach(review => { %>
      <li><a href='./reviews/<%= review.isbn %>' ><%= review.title %></a></li>
      <% });  %>
      </ul>
    
    
  </body>
</html>
